<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/home.css">
    <link rel="stylesheet" href="/assets/profile.css">
    <title>Edit Profile</title>
</head>
<body>
    {{template "navbar"}}
    <div class="edit-profile-container">
        <h3>Edit profile</h3>
        <div class="form-container">
            <form id="edit-form" action="/profile/password" method="POST" enctype="multipart/form-data" data-resource="password">
                <label for="current_password">Current password</label>
                <input type="password" name="current" id="current_password">
                <label for="new_password">New password</label>
                <input type="password" name="new" id="new_password">
                <label for="confirm_password">Confirm password</label>
                <input type="password" name="confirmation" id="confirm_password">
                <button type="submit">Update</button>
            </form>
        </div>
    </div>
    {{template "footer"}}
    {{template "scripts"}}
    <script src="/assets/profile.js"></script>
</body>
</html>